.description-product {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.description-product > .title {
  font-size: 25px;
  margin-bottom: 50px;
}

.description-product > .item {
  font-size: 20px;
  margin-bottom: 28px;
}

.description-product > .item.-heart {
  cursor: pointer;
  position: absolute;
  transform: translateX(-100%);
  left: -47px;
  top: 8px;
}

.description-product > .item.-star {
  cursor: pointer;
  margin-bottom: 10px;
}

.description-product .icon {
  transition: transform 200ms linear;
}

.description-product .icon:hover {
  transform: scale(1.2);
}

.description-product > .item.-star + .item {
  margin-left: 7px;
}

.description-product > .item.-info {
  text-align: right;
  width: 200px;
}

.description-product > .item.-last {
  margin-bottom: 72px;
}

.description-product .contrast {
  float: left;
  text-transform: uppercase;
}

.description-product > .text {
  font-size: 18px;
  margin-bottom: 35px;
  line-height: 30px;
}

.description-product > .text.-more {
  margin-bottom: 0;
}

.description-product .action {
  color: inherit;
  font-size: 18px;
  text-decoration: none;
}

/* @media (max-width: 1322px) {
  .description-product > .item.-heart {
    transform: translateX(100%) translateY(100%);
  }
} */
