.header-store {
  color: #ffffff;
  margin-bottom: 138px;
  padding-left: 60px;
  overflow: hidden;
}

.header-store > .title {
  cursor: pointer;
  float: left;
  font-family: Arial, "Roboto", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
}
.header-store > .navigation {
  font-family: "Segoe UI", "Roboto", sans-serif;
  float: right;
  font-size: 21px;
}

.header-store [type="search"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: inherit;
  font-family: Arial, "Roboto", sans-serif;
  font-size: 20px;
  margin-right: 65px;
  padding: 8px;
  width: 358px;
}

.header-store .action {
  color: inherit;
  margin-right: 60px;
  text-decoration: none;
  transition: border-bottom 3s linear;
}

.header-store .action:hover {
  border-bottom: 1px solid #ffffff;
}

.header-store .action.-last {
  margin-right: 0;
}
