.header-store {
  color: #ffffff;
  margin-bottom: 138px;
  padding-left: 60px;
  overflow: hidden;
}

.header-store > .title {
  cursor: pointer;
  float: left;
  font-family: Arial, "Roboto", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
}
.header-store > .navigation {
  font-family: "Segoe UI", "Roboto", sans-serif;
  float: right;
  font-size: 21px;
}

.header-store [type="search"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: inherit;
  font-family: Arial, "Roboto", sans-serif;
  font-size: 20px;
  margin-right: 65px;
  padding: 8px;
  vertical-align: bottom;
  width: 358px;
}

.header-store .action {
  color: inherit;
  display: inline-block;
  margin-right: 60px;
  padding-bottom: 8px;
  position: relative;
  text-decoration: none;
}

.header-store .action.-last {
  margin-right: 0;
}

.header-store .action::after {
  background-color: #fff;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: center left;
  transition: transform 200ms linear;
  width: 100%;
}

.header-store .action:hover::after {
  transform: scaleX(1);
}

@media (max-width: 1235px) {
  .header-store > .title {
    float: none;
    margin-bottom: 20px;
    text-align: center;
  }

  .header-store > .navigation {
    float: none;
    text-align: center;
  }
}

@media (max-width: 965px) {
  .header-store {
    padding-left: 30px;
  }
  .header-store [type="search"] {
    display: none;
  }
}

@media (max-width: 530px) {
  .header-store .action {
    margin-right: 30px;
  }
}

@media (max-width: 465px) {
  .header-store .action {
    margin-right: 15px;
  }
}

@media (max-width: 387px) {
  .header-store {
    padding-left: 16px;
  }

  .header-store .action {
    margin-right: 8px;
  }
}

@media (max-width: 359px) {
  .header-store > .navigation {
    display: none;
  }
}
