header {
  /* display: inline-block; */
  background-color: #e24647;
  color: #fff;
  margin: 0 115px;
  padding: 55px 60px 95px;
  overflow: hidden;
}

h1 {
  float: left;
  font-family: Arial, "Roboto", sans-serif;
  font-size: 40px;
}
nav {
  font-family: "Segoe UI", "Roboto", sans-serif;
  float: right;
  font-size: 21px;
  /* line-height: 40px; */
}
a {
  color: inherit;
  padding-left: 60px;
  text-decoration: none;
}
