.header-store {
  color: #ffffff;
  overflow: hidden;
}

.title {
  float: left;
  font-family: Arial, "Roboto", sans-serif;
  font-size: 40px;
}
.navigation {
  font-family: "Segoe UI", "Roboto", sans-serif;
  float: right;
  font-size: 21px;
}
.action {
  color: inherit;
  margin-right: 60px;
  text-decoration: none;
}
.last {
  margin-right: 0;
}
