.wrap-product {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 554px;
}

.buttons {
  position: absolute;
  bottom: 0;
  transform: translateY(calc(100% + 98px));
}
/* 
@media (max-width: 1322px) {
  .wrap-product {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
} */
